<div class="page">

  
  <header class="header">
    <h1>Painel do Professor - {{ materia }}</h1>
  </header>

  
  <div class="lista">
    @for (a of alunosOrdenados(); track a.posicao) {
      <div class="aluno" (click)="selecionar(a)">
        <strong>{{ a.nome }}</strong>
        <label  class = "label-notas" for="number">Nota: </label>
        <span [class]="statusNota(a.nota)">{{ a.nota }}</span>
        <br>

        <label  class = "label-faltas" for="number">faltas: </label>
        <span>{{ a.faltas}}</span>
      </div>
    }
  </div>

  <!-- EDITOR -->
  @if (alunoSelecionado()) {
    <div class="editor">
      <h3>Editar: {{ alunoSelecionado()?.nome }}</h3>

      <label>Nota:
        <input type="number" [(ngModel)]="alunoSelecionado()!.nota">
      </label>

      <label>Faltas:
        <input type="number" [(ngModel)]="alunoSelecionado()!.faltas">
      </label>

      <label class="check">
        <input type="checkbox" [(ngModel)]="alunoSelecionado()!.naEscola">
        Está na escola
      </label>

      <label>Posição:
        <input type="number" [(ngModel)]="alunoSelecionado()!.posicao">
      </label>

     <button (click)="salvar()">Salvar</button>
    </div>
  }
<section class="sala">

  @for (row of linhas(); track $index) {

    <div class="row">

      
      @for (a of row.slice(0,2); track $index) {
        @if (a) {
          <div class="seat"
               [class.fora]="!a.naEscola"
               [ngClass]="statusNota(a.nota)"
               (click)="selecionar(a)">
            <img src="cadeira.png" class="seat-icon" />
            <div class="seat-info">
              <span class="nome">{{ a.nome }}</span>
              <small>{{ a.nota }}</small>
            </div>
          </div>
        } @else {
          <div class="seat vazio"></div>
        }
      }

      <div class="corredor"></div>

    
      @for (a of row.slice(2,4); track $index) {
        @if (a) {
          <div class="seat"
               [class.fora]="!a.naEscola"
               [ngClass]="statusNota(a.nota)"
               (click)="selecionar(a)">
            <img src="cadeira.png" class="seat-icon" />
            <div class="seat-info">
              <span class="nome">{{ a.nome }}</span>
              <small>{{ a.nota }}</small>
            </div>
          </div>
        } @else {
          <div class="seat vazio"></div>
        }
      }

    </div>

  }

</section>

</div>